{% extends "layout.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <div class="event-detail">
        <img src="{{ event.poster }}" alt="{{ event.title }}">
        <div class="event-info">
            <h2>{{ event.title }}</h2>
            <p>{{ event.description }}</p>
            
            <h3>Время:</h3>
            <ul>
                
                <li>{{ event.time }}</li>
                
            </ul>
            
            <a href="{{ url_for('book_ticket', event_id=event.id) }}" class="book-btn">Забронировать билеты</a>
        </div>
    </div>
{% endblock %}